@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --c4r-blue: 10 104 176;
    --c4r-lightblue: 83 190 237;
    --c4r-gray: 157 159 162;
  }
}

#tsmlx_settings {
  .main-header {
    @apply tw-bg-[url('../images/c4rlogo.png')] tw-bg-no-repeat tw-bg-right tw-bg-contain tw-mb-2 tw-text-c4r-blue
  }
  .postbox {
    .postbox-header {
      h2 {
        @apply tw-p-0
      }
      @apply tw-px-4 tw-py-2 tw-text-white tw-bg-c4r-gray/30 tw-uppercase tw-text-base tw-font-bold tw-tracking-widest
    }
    .inside {
      * {
        @apply last:tw-mb-0
      }
      p {
        @apply tw-mb-2
      }
      a {
        @apply tw-text-c4r-blue hover:tw-underline
      }
      ul {
        li {
          @apply tw-mb-2
        }
        @apply tw-list-disc tw-ml-6
      }
      .form-table {
        tbody {
          tr {
            @apply tw-border-b last:tw-border-none
          }
        }
      }
      h5 {
        @apply tw-text-lg tw-font-bold tw-mb-2
      }
      #tsmlxtras-preview-image {
        @apply tw-mb-5 tw-w-auto tw-max-h-14
      }
      @apply tw-p-4 tw-mt-0
    }
    @apply tw-bg-white/70 tw-border tw-border-c4r-gray/30 tw-rounded-md tw-mb-4 tw-shadow-md
  }
  @apply tw-mt-14
}

.help-tab-content {
  * {
    @apply tw-mb-2 last:tw-mb-0
  }
  h3 {
    @apply tw-p-0 tw-mb-4 tw-uppercase tw-tracking-widest tw-text-lg
  }
  h4 {
    @apply tw-border-b tw-border-c4r-blue/20 tw-pb-1 tw-font-bold tw-text-c4r-blue tw-text-base tw-mt-4
  }
  @apply tw-p-4 tw-m-0
}
