//@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap {
  margin-top: 50px;
}
.tsmlxtras-version {
  font-size: 10px;
  margin-left: 7px;
}
h2.main-header {
  background-image: url("../svg/AA-fat.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
h3 {
  padding: 0 12px;
}
.metabox-holder .postbox>h3,.metabox-holder .stuffbox>h3,.metabox-holder h2.hndle,.metabox-holder h3.hndle {
  font-size: 1.3em;
  font-weight: 600;
}
.postbox {
  .inside {
    ul {
      margin-left: 2em;
      list-style-type: disc;
      li {
        margin-bottom: .2em;
      }
    }
  }
}
.tsml-xtradisplays-settings {
  .border-bottom {
    border-bottom: 1px solid #e2e3e5;
  }
  textarea.tsml-xtradisplays-custom-css {
    width: 100%;
  }
  .suffix {
    background-color: #e05227;
    color: white;
    font-weight: bold;
    display: inline-block;
    min-height: 30px;
    vertical-align: middle;
    line-height: 2;
    padding: 0 4px 0 6px;
    margin-left: -2px;
    border-radius: 4px 4px 4px 0;
  }
  .prefix {
    background-color: #e05227;
    color: white;
    font-weight: bold;
    display: inline-block;
    min-height: 30px;
    vertical-align: middle;
    line-height: 2;
    padding: 0 6px 0 4px;
    margin-right: -2px;
    border-radius: 4px 0 4px 4px;
  }
}
.help-tab-content {
  h3 {
    padding: 0;
  }
  h4 {
    border-bottom: 1px solid #bcbcbc;
  }
}
#tsmlxtras-preview-image {
  max-height: 50px;
  width: auto;
  margin-bottom: 10px;
}

